{% extends 'layout.html.twig' %}

{% block body %}
  <div class="row posts">

    <div class="col-md-9">
      <h2>The Blogger</h2>
      {#<canvas class="myChart" width="200" height="200"></canvas>#}
      <div class="test">
        <div id="chart">
          <ul id="numbers">
            <li><span>100%</span></li>
            <li><span>90%</span></li>
            <li><span>80%</span></li>
            <li><span>70%</span></li>
            <li><span>60%</span></li>
            <li><span>50%</span></li>
            <li><span>40%</span></li>
            <li><span>30%</span></li>
            <li><span>20%</span></li>
            <li><span>10%</span></li>
            <li><span>0%</span></li>
          </ul>

          <ul id="bars">
            <li><div data-percentage="10" class="bar"></div><span>Option 1</span></li>
            <li><div data-percentage="33" class="bar"></div><span>Option 2</span></li>
            <li><div data-percentage="54" class="bar"></div><span>Option 3</span></li>
            <li><div data-percentage="94" class="bar"></div><span>Option 4</span></li>
            <li><div data-percentage="44" class="bar"></div><span>Option 5</span></li>
            <li><div data-percentage="23" class="bar"></div><span>Option 6</span></li>
          </ul>
        </div>
      </div>

    </div>

    <div class="col-md-3">
      <h2>The last posts</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-9 posts">
      {% for post in posts %}
        <div class="card">

          <div class="card-body">
            <h4 class="card-title">{{ post.title }}</h4>
            <p class="card-text">{{ post.content[:200] ~ '...' }}</p>
          </div>
        </div>
      {% endfor %}

    </div>

    <div class="col-md-3">
      <div class="row">
        <div class="col-md-12 posts">

          {% for post in posts %}
            <div class="card">
              <img class="card-img-top" src="{{ asset('/assets/images/' ~ post.image) }}">
              <div class="card-body">
                <h4 class="card-title">{{ post.title }}</h4>
                <p>Published: {{ post.date|date('d m Y') }} by {{ post.author }}</p>
                <p class="card-text">{{ post.content[:200] ~ '...' }}</p>

              </div>
            </div>
          {% endfor %}

        </div>
      </div>
    </div>
  </div>


{% endblock %}

