{% extends 'headerAdmin.html.twig' %}

{% block body %}
  <h1>Awards list</h1>

  <table>
    <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Date</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for award in awards %}
      <tr>
        <td><a href="{{ path('award_show_admin', { 'id': award.id }) }}">{{ award.id }}</a></td>
        <td>{{ award.name }}</td>
        <td>{% if award.date %}{{ award.date|date('Y-m-d') }}{% endif %}</td>
        <td>{{ award.description }}</td>
        <td>
          <ul>
            <li>
              <a href="{{ path('award_show_admin', { 'id': award.id }) }}">show</a>
            </li>
            <li>
              <a href="{{ path('award_edit_admin', { 'id': award.id }) }}">edit</a>
            </li>
          </ul>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  <a href="{{ path('award_new_admin') }}">Create a new award</a>

{% endblock %}
