{% extends 'headerAdmin.html.twig' %}

{% block body %}
  <h1>Volunteers list</h1>

  <table>
    <thead>
    <tr>
      <th>Id</th>
      <th>Organization</th>
      <th>Role</th>
      <th>Cause</th>
      <th>Start</th>
      <th>Finish</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for volunteer in volunteers %}
      <tr>
        <td><a href="{{ path('volunteer_show', { 'id': volunteer.id }) }}">{{ volunteer.id }}</a></td>
        <td>{{ volunteer.organization }}</td>
        <td>{{ volunteer.role }}</td>
        <td>{{ volunteer.cause }}</td>
        <td>{% if volunteer.start %}{{ volunteer.start|date('Y-m-d H:i:s') }}{% endif %}</td>
        <td>{% if volunteer.finish %}{{ volunteer.finish|date('Y-m-d H:i:s') }}{% endif %}</td>
        <td>{{ volunteer.description }}</td>
        <td>
          <ul>
            <li>
              <a href="{{ path('volunteer_show', { 'id': volunteer.id }) }}">show</a>
            </li>
          </ul>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
