{% extends 'headerAdmin.html.twig' %}

{% block body %}

  <div class="col-md-9">
    <h1> {{ 'companies_list'|trans }} </h1>
    <a class="btn btn-success" href="{{ path('company_new_admin') }}">{{ 'button_create'|trans }}</a>

    <div class="row posts">
      {% for company in companies %}
        <div class="col-md-4">
          <div class="card">
            <div style="background-image: {{ asset('/assets/images/' ~ company.image) }}">
              <img class="card-img-top" src="{{ asset('/assets/images/' ~ company.image) }}">
            </div>
            <div class="card-body">
              <ul>
                <li>Id <a href="{{ path('company_show_admin', { 'id': company.id }) }}">{{ company.id }}</a></li>
                <li>Name {{ company.name }}</li>
                <li>Location {{ company.location }}</li>
                <li>Start {% if company.start %}{{ company.start|date('Y-m-d') }}{% endif %}</li>
                <li>Finish {% if company.finish %}{{ company.finish|date('Y-m-d') }}{% endif %}</li>
                {#<li>Description {{ company.description }}</li>#}
                <li>Position {{ company.position }}</li>
              </ul>

              <p class="card-text">{{ company.description[:200] ~ '...' }}</p>
              <a href="{{ path('company_show_admin', { 'id': company.id }) }}" class="btn btn-success">
                <i class="fa fa-eye"></i>
                {{ 'button_show'|trans }}
              </a>
              <a href="{{ path('company_edit_admin', { 'id': company.id }) }}" class="btn btn-danger">
                <i class="fa fa-edit"></i>
                {{ 'button_edit'|trans }}
              </a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

    <h1> {{ 'universities_list'|trans }} </h1>

    <a class="btn btn-success" href="{{ path('university_new_admin') }}">{{ 'button_create'|trans }}</a>

    <div class="row posts">
      {% for university in universities %}
        <div class="col-md-4">
          <div class="card">
            <div style="background-image: {{ asset('/assets/images/' ~ university.image) }}">
              <img class="card-img-top" src="{{ asset('/assets/images/' ~ university.image) }}">
            </div>
            <div class="card-body">
              <ul>
                <li>Id <a href="{{ path('university_show_admin', { 'id': university.id }) }}">{{ university.id }}</a></li>
                <li>Name {{ university.name }}</li>
                <li>Location {{ university.location }}</li>
                <li>Start {% if university.start %}{{ university.start|date('Y-m-d H:i:s') }}{% endif %}</li>
                <li>Finish {% if university.finish %}{{ university.finish|date('Y-m-d H:i:s') }}{% endif %}</li>
                {#<li>Description {{ university.description }}</li>#}
                <li>Field {{ university.field }}</li>
                <li>Specialization {{ university.specialization }}</li>
                <li>Degree {{ university.degree }}</li>
                <li>Grade {{ university.grade }}</li>
              </ul>

              <p class="card-text">{{ university.description[:200] ~ '...' }}</p>
              <a href="{{ path('university_show_admin', { 'id': university.id }) }}" class="btn btn-success">
                <i class="fa fa-eye"></i>
                {{ 'button_show'|trans }}
              </a>
              <a href="{{ path('university_edit_admin', { 'id': university.id }) }}" class="btn btn-danger">
                <i class="fa fa-edit"></i>
                {{ 'button_edit'|trans }}
              </a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="col-md-3">
    <h1> {{ 'awards_list'|trans }} </h1>
    <a class="btn btn-success" href="{{ path('award_new_admin') }}">{{ 'button_create'|trans }}</a>

    <div class="row posts">
      {% for award in awards %}
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <ul>
                <li>Id <a href="{{ path('award_show_admin', { 'id': award.id }) }}">{{ award.id }}</a></li>
                <li>Name {{ award.name }}</li>
                <li>Date {% if award.date %}{{ award.date|date('Y-m-d') }}{% endif %}</li>
                <li>Description {{ award.description }}</li>
              </ul>

              <p class="card-text">{{ award.description[:200] ~ '...' }}</p>
              <a href="{{ path('award_show_admin', { 'id': award.id }) }}" class="btn btn-success">
                <i class="fa fa-eye"></i>
                {{ 'button_show'|trans }}
              </a>
              <a href="{{ path('award_edit_admin', { 'id': award.id }) }}" class="btn btn-danger">
                <i class="fa fa-edit"></i>
                {{ 'button_edit'|trans }}
              </a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

    <h1> {{ 'volunteers_list'|trans }} </h1>

    <a class="btn btn-success" href="{{ path('volunteer_new_admin') }}">{{ 'button_create'|trans }}</a>

    <div class="row posts">
      {% for volunteer in volunteers %}
        <div class="col-md-12">
          <div class="card">
            <div style="background-image: {{ asset('/assets/images/' ~ volunteer.image) }}">
              <img class="card-img-top" src="{{ asset('/assets/images/' ~ volunteer.image) }}">
            </div>
            <div class="card-body">
              <ul>
                <li>Id <a href="{{ path('volunteer_show_admin', { 'id': volunteer.id }) }}">{{ volunteer.id }}</a></li>
                <li>Organization {{ volunteer.organization }}</li>
                <li>Role {{ volunteer.role }}</li>
                <li>Cause {{ volunteer.cause }}</li>
                <li>Start {% if volunteer.start %}{{ volunteer.start|date('Y-m-d') }}{% endif %}</li>
                <li>Finish {% if volunteer.finish %}{{ volunteer.finish|date('Y-m-d') }}{% endif %}</li>
                <li>Description {{ volunteer.description }}</li>
              </ul>

              <p class="card-text">{{ volunteer.description[:200] ~ '...' }}</p>
              <a href="{{ path('volunteer_show_admin', { 'id': volunteer.id }) }}" class="btn btn-success">
                <i class="fa fa-eye"></i>
                {{ 'button_show'|trans }}
              </a>
              <a href="{{ path('volunteer_edit_admin', { 'id': volunteer.id }) }}" class="btn btn-danger">
                <i class="fa fa-edit"></i>
                {{ 'button_edit'|trans }}
              </a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

  </div>





{% endblock %}
