{% extends 'headerAdmin.html.twig' %}

{% block body %}
  <h1>Companies list</h1>
  <a class="btn btn-success" href="{{ path('company_new_admin') }}">{{ 'button_create'|trans }}</a>

  <div class="row posts">
    {% for company in companies %}
      <div class="col-md-4">
        <div class="card">
          <div style="background-image: {{ asset('/assets/images/' ~ company.image) }}">
            <img class="card-img-top" src="{{ asset('/assets/images/' ~ company.image) }}">
          </div>
          <div class="card-body">
            <ul>
              <li>Id <a href="{{ path('company_show_admin', { 'id': company.id }) }}">{{ company.id }}</a></li>
              <li>Name {{ company.name }}</li>
              <li>Location {{ company.location }}</li>
              <li>Start {% if company.start %}{{ company.start|date('Y-m-d') }}{% endif %}</li>
              <li>Finish {% if company.finish %}{{ company.finish|date('Y-m-d') }}{% endif %}</li>
              {#<li>Description {{ company.description }}</li>#}
              <li>Position {{ company.position }}</li>
            </ul>

            <p class="card-text">{{ company.description[:200] ~ '...' }}</p>
            <a href="{{ path('company_show_admin', { 'id': company.id }) }}" class="btn btn-success">
              <i class="fa fa-eye"></i>
              {{ 'button_show'|trans }}
            </a>
            <a href="{{ path('company_edit_admin', { 'id': company.id }) }}" class="btn btn-danger">
              <i class="fa fa-edit"></i>
              {{ 'button_edit'|trans }}
            </a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
