{% extends 'headerAdmin.html.twig' %}

{% block body %}

  <div class="col-md-6">
    <h1>Skills list</h1>
    <a class="btn btn-success" href="{{ path('skill_new_admin') }}">Create a new skill</a>

    <table class="table table-bordered">
      <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Score</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      {% for skill in skills %}
        <tr>
          <td><a href="{{ path('skill_show_admin', { 'id': skill.id }) }}">{{ skill.id }}</a></td>
          <td class="skill-name" data-is-named="{{ skill.name }}">{{ skill.name }}</td>
          <td class="skill-score" data-is-scored="{{ skill.score }}">{{ skill.score }}</td>
          <td>
            <a class="btn btn-default" href="{{ path('skill_show_admin', { 'id': skill.id }) }}">show</a>
            <a class="btn btn-danger" href="{{ path('skill_edit_admin', { 'id': skill.id }) }}">edit</a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="col-md-6">
    <canvas class="myChart" width="200" height="200"></canvas>
  </div>

{% endblock %}
