{% extends 'headerAdmin.html.twig' %}

{% block body %}
    <h1>Universities list</h1>

    <a class="btn btn-success" href="{{ path('university_new_admin') }}">{{ 'button_create'|trans }}</a>

    <div class="row posts">
      {% for university in universities %}
          <div class="col-md-4">
              <div class="card">
                  <div style="background-image: {{ asset('/assets/images/' ~ university.image) }}">
                      <img class="card-img-top" src="{{ asset('/assets/images/' ~ university.image) }}">
                  </div>
                  <div class="card-body">
                      <ul>
                          <li>Id <a href="{{ path('university_show_admin', { 'id': university.id }) }}">{{ university.id }}</a></li>
                          <li>Name {{ university.name }}</li>
                          <li>Location {{ university.location }}</li>
                          <li>Start {% if university.start %}{{ university.start|date('Y-m-d H:i:s') }}{% endif %}</li>
                          <li>Finish {% if university.finish %}{{ university.finish|date('Y-m-d H:i:s') }}{% endif %}</li>
                        {#<li>Description {{ university.description }}</li>#}
                          <li>Field {{ university.field }}</li>
                          <li>Specialization {{ university.specialization }}</li>
                          <li>Degree {{ university.degree }}</li>
                          <li>Grade {{ university.grade }}</li>
                      </ul>

                      <p class="card-text">{{ university.description[:200] ~ '...' }}</p>
                      <a href="{{ path('university_show_admin', { 'id': university.id }) }}" class="btn btn-success">
                          <i class="fa fa-eye"></i>
                        {{ 'button_show'|trans }}
                      </a>
                      <a href="{{ path('university_edit_admin', { 'id': university.id }) }}" class="btn btn-danger">
                          <i class="fa fa-edit"></i>
                        {{ 'button_edit'|trans }}
                      </a>
                  </div>
              </div>
          </div>
      {% endfor %}
    </div>
{% endblock %}
