{% extends 'headerAdmin.html.twig' %}

{% block body %}

  <h1>Post list</h1>

  <div class="row">
    <div class="col-md-6">
      <a href="{{ path('post_new_admin') }}" class="btn btn-success create-button">Create a new entry</a>
    </div>

    <div class="col-md-6">
      <div class="search">
        <form action="{{ path('post_index_admin') }}" method="get">
          <label for="filter">Filter</label>
          <input name="filter" type="text" value="{{ searchWord }}" }>
          <button type="submit" class="btn btn-success btn-sm">Search</button>
        </form>
      </div>
    </div>
  </div>

  <div class="row posts">
    {% for post in posts %}
      <div class="col-md-4">
        <div class="card">
          <div style="background-image: {{ asset('/assets/images/' ~ post.image) }}">
            <img class="card-img-top" src="{{ asset('/assets/images/' ~ post.image) }}">
          </div>
          {#<img class="card-img-top" style="background-image: {{ asset('/assets/images/' ~ post.image) }}">#}
          <div class="card-body">
            <h4 class="card-title">{{ post.title }}</h4>
            <p>Published: {{ post.date|date('d m Y') }} by {{ post.author }}</p>
            <p class="card-text">{{ post.content[:200] ~ '...' }}</p>
            <a href="{{ path('post_show_admin', { 'id': post.id }) }}" class="btn btn-success">
              <i class="fa fa-eye"></i>
              Show more
            </a>
            <a href="{{ path('post_edit_admin', { 'id': post.id }) }}" class="btn btn-danger">
              <i class="fa fa-edit"></i>
              Edit
            </a>

          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="navigation">
    {{ knp_pagination_render(posts) }}
  </div>

{% endblock %}
