{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Universities list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Location</th>
                <th>Start</th>
                <th>Finish</th>
                <th>Description</th>
                <th>Field</th>
                <th>Specialization</th>
                <th>Degree</th>
                <th>Grade</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for university in universities %}
            <tr>
                <td><a href="{{ path('university_show_admin', { 'id': university.id }) }}">{{ university.id }}</a></td>
                <td>{{ university.name }}</td>
                <td>{{ university.location }}</td>
                <td>{% if university.start %}{{ university.start|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if university.finish %}{{ university.finish|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ university.description }}</td>
                <td>{{ university.field }}</td>
                <td>{{ university.specialization }}</td>
                <td>{{ university.degree }}</td>
                <td>{{ university.grade }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('university_show_admin', { 'id': university.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('university_edit_admin', { 'id': university.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
