{% extends 'headerAdmin.html.twig' %}

{% block body %}
  <h1>Volunteers list</h1>

  <a class="btn btn-success" href="{{ path('volunteer_new_admin') }}">{{ 'button_create'|trans }}</a>

  <div class="row posts">
    {% for volunteer in volunteers %}
      <div class="col-md-4">
        <div class="card">
          <div style="background-image: {{ asset('/assets/images/' ~ volunteer.image) }}">
            <img class="card-img-top" src="{{ asset('/assets/images/' ~ volunteer.image) }}">
          </div>
          <div class="card-body">
            <ul>
              <li>Id <a href="{{ path('volunteer_show_admin', { 'id': volunteer.id }) }}">{{ volunteer.id }}</a></li>
              <li>Organization {{ volunteer.organization }}</li>
              <li>Role {{ volunteer.role }}</li>
              <li>Cause {{ volunteer.cause }}</li>
              <li>Start {% if volunteer.start %}{{ volunteer.start|date('Y-m-d') }}{% endif %}</li>
              <li>Finish {% if volunteer.finish %}{{ volunteer.finish|date('Y-m-d') }}{% endif %}</li>
              <li>Description {{ volunteer.description }}</li>
            </ul>

            <p class="card-text">{{ volunteer.description[:200] ~ '...' }}</p>
            <a href="{{ path('volunteer_show_admin', { 'id': volunteer.id }) }}" class="btn btn-success">
              <i class="fa fa-eye"></i>
              {{ 'button_show'|trans }}
            </a>
            <a href="{{ path('volunteer_edit_admin', { 'id': volunteer.id }) }}" class="btn btn-danger">
              <i class="fa fa-edit"></i>
              {{ 'button_edit'|trans }}
            </a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
