{% extends 'headerAdmin.html.twig' %}

{% block body %}
    <h1>Goal creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('goal_index_admin') }}">{{ 'button_back'|trans }}</a>
        </li>
    </ul>
{% endblock %}
